body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  width:45%;
}

.app-header {
  background-color: white;
  padding: 20px;
  color: black;

  .app-description {
    font-weight: 400;
    font-size: 1rem;
    color: #7b7b7b; 
    margin: 0;
  }
}

.app-title {
  font-weight: 600;
  font-size: 2.5rem;
  margin: 1.7em 0;
}

.app-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}